<h1>Produkty</h1>

<div class="buttons-div">
  <button mat-raised-button color="primary" (click)="openPromotionBox()" [disabled]="isPromotionsButtonDisabled()">USTAW PROMOCJĘ</button>
  &nbsp;
  <button mat-raised-button color="primary" routerLink="/product/new">DODAJ PRODUKT</button>
</div>

<mat-card class="card-new-promotion" *ngIf="showPromotionBox">
  <mat-form-field class="product-input">
    <input matInput placeholder="Czas trwania promocji" type="time" value="00:30" required #discountEndTime>
  </mat-form-field>

  <mat-form-field class="product-input" style="width: 10% !important;">
    <span matPrefix>- &nbsp;</span>
    <input matInput placeholder="Obniżka" type="number" min="1" max="100" required #productPercentValue>
    <span matSuffix>&nbsp;%</span>
  </mat-form-field>

  <div class="buttons-div">
    <button mat-button color="primary" (click)="showPromotionBox = false;">ANULUJ</button>
    &nbsp;
    <button mat-raised-button color="primary" (click)="saveDiscount(discountEndTime.value, productPercentValue.value)">ZAPISZ</button>
  </div>
</mat-card>

<mat-card>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th></th>
      <th mat-sort-header="name">Nazwa</th>
      <th mat-sort-header="quantity">Ilość</th>
      <th mat-sort-header="price">Cena</th>
      <th></th>
    </tr>

    <tr *ngFor="let product of sortedProducts">
      <td>
        <mat-checkbox *ngIf="product.discountTimeout === undefined" (click)="addOrRemoveIdInCheckedProducts(product.id)"></mat-checkbox>
        <span *ngIf="product.discountTimeout !== undefined">(-{{product.discountPercentage}}%, <countdown [config]="{stopTime: product.discountTimeout}" (finished)="refreshPromotion(product.id)">$!h!:$!m!:$!s!</countdown>)</span>
      </td>
      <td>{{product.name}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.price.toFixed(2)}} zł</td>
      <td>
        <button mat-button color="primary" routerLink="/product/{{product.id}}">EDYTUJ</button>
        &nbsp;
        <button mat-button color="warn" (click)="remove(product.id)">USUŃ</button>
      </td>
    </tr>
  </table>
</mat-card>
