table {
  width: 100%;
  table-layout: fixed;
}

.buttons-div {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 1rem 0;
}

.card-new-promotion {
  margin-bottom: 2rem;
}

.product-input {
  width: 100%;
}
