<mat-toolbar class="mat-elevation-z3" color="primary">
  <button mat-button routerLink="/">
    <mat-icon>shop</mat-icon>
    AppAdmin
  </button>

  <button *ngIf="authService.getUserRole() === 0" mat-button routerLink="/products">
    Produkty
  </button>

  <button *ngIf="authService.getUserRole() === 0 || authService.getUserRole() === 1" mat-button routerLink="/orders">
    Zamówienia
  </button>

  <span class="fill-space"></span>

  <mat-slide-toggle
      *ngIf="authService.getUserRole() === 0"
      [checked]="productsService.firebaseBackendActive"
      (click)="changeBackend()">
    Firebase backend
  </mat-slide-toggle>

  <span class="fill-space"></span>

  <button *ngIf="authService.getUserRole() === 0 || authService.getUserRole() === 1" mat-button>
    {{authService.userName}}
  </button>

  <button *ngIf="authService.getUserRole() === 0 || authService.getUserRole() === 1" mat-button (click)="logout()">
    Wyloguj się
  </button>
</mat-toolbar>

<div class="mat-toolbar-single-row"></div>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
