.quantity-input {
  max-width: 4rem;
}

.quantity-input input {
  text-align: center;
}

.button-cart {
  margin-left: 2rem;
}

.detail-photo {
  text-align: center;
}

.detail-photo img {
  max-width: 100%;
}
