<form onsubmit="return false; ">
  <div class="columns-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="2rem" fxLayoutAlign="center">
    <div fxFlex="40%">
      <mat-card class="detail-photo">
        <img src="{{product.photo}}" />
      </mat-card>
    </div>

    <div fxFlex="60%">
      <mat-card>
        <h1>{{product.name}}</h1>
        <strong>Kategoria: </strong> {{product.category}}
        <br><br><br>
        {{product.description}}
        <br><br>
        <h2>{{product.price.toFixed(2)}} zł</h2>
        <div class="div-promotion" *ngIf="product.discountTimeout !== undefined">
          <h3 class="old-price">{{product.oldPrice.toFixed(2)}} zł</h3>
          <div class="breakfiller"></div>
          <h4 class="promotion-red">
            PROMOCJA -{{product.discountPercentage.toFixed(0)}}%
            <br>
            TYLKO PRZEZ: <countdown [config]="{stopTime: product.discountTimeout}" (finished)="refreshPromotion()">$!h!:$!m!:$!s!</countdown>
          </h4>
        </div>
        <br><br>

        <div>
          <mat-form-field class="quantity-input">
            <input matInput type="number" value="1" min="1" max="{{product.quantity}}" #quantity>
          </mat-form-field>
          z {{product.quantity}}
          <button mat-raised-button color="primary" class="button-cart" (click)="addToChart(quantity.value)">
            <mat-icon>shopping_cart</mat-icon>
            Dodaj do koszyka
          </button>
        </div>

      </mat-card>
    </div>
  </div>
</form>
