<form onsubmit="return false; ">
  <div class="columns-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="2rem" fxLayoutAlign="center">
    <div fxFlex="40%">
      <mat-card class="detail-photo">
        <img src="{{product.photoFullUrl}}" />
      </mat-card>
    </div>

    <div fxFlex="60%">
      <mat-card>
        <h1>{{product.name}}</h1>
        <br>
        {{product.description}}
        <br><br>
        <h2>{{product.price.toFixed(2)}} zł</h2>
        <br><br>

        <div>
          <mat-form-field class="quantity-input">
            <input matInput type="number" value="1" min="1" max="{{product.quantity}}" #quantity>
          </mat-form-field>
          z {{product.quantity}}
          <button mat-raised-button color="primary" class="button-cart" (click)="addToChart(quantity.value)">
            <mat-icon>shopping_cart</mat-icon>
            Dodaj do koszyka
          </button>
        </div>

      </mat-card>
    </div>
  </div>
</form>
