.buttons-div {
  display: flex;
  justify-content: flex-end;
}

.breakfiller {
  width: 100%;
  height: 2rem;
}

.breakfiller2 {
  width: 2rem;
}

.finalize-form {
  display: grid;
}

.finalize-input {
  width: 100%;
}
