<tr [ngStyle]="products.lowestAndHighestPriceStyles[products.products.indexOf(product)]">
  <td><img class="product-image" src="/assets/img/products/{{product.photo}}" /></td>
  <td>{{product.name | uppercase}}</td>
  <td>{{product.price.toFixed(2)}} zł</td>
  <td [ngStyle]="products.lowQuantityStyles[products.products.indexOf(product)]">{{product.quantity}}</td>
  <td>{{product.description}}</td>
  <td>
    {{ products.chart[products.products.indexOf(product)] }}
    &nbsp;
    <button mat-button (click)="products.updateChart(product, 1)" [style.display]="products.isVisible(product, 1) ? 'inline' : 'none'">+</button>
    &nbsp;
    <button mat-button (click)="products.updateChart(product, -1)" [style.display]="products.isVisible(product, -1) ? 'inline' : 'none'">-</button>
  </td>
</tr>
