<div class="container-product" fxLayout="column">
  <div routerLink="/product/details/{{product.id}}" class="container-product-item"><strong>{{product.name}}</strong></div>
  <div routerLink="/product/details/{{product.id}}" class="container-product-item-img"><img class="product-image" src="{{product.photo}}" /></div>
  <div routerLink="/product/details/{{product.id}}" class="container-product-item" *ngIf="product.discountTimeout !== undefined">
    <span class="item-discount">
      Promocja -{{product.discountPercentage.toFixed(0)}}%
      <br>
      <countdown [config]="{stopTime: product.discountTimeout}">$!h!:$!m!:$!s!</countdown>
    </span>
  </div>
  <div class="container-product-item">
    <button mat-raised-button color="primary" matBadge="{{product.quantity}}" matBadgeColor="accent" matBadgePosition="before" (click)="addToChart()">
      <mat-icon>shopping_cart</mat-icon>
      {{product.price.toFixed(2)}} zł
    </button>
  </div>
</div>
